body {
    font-family: sans-serif;
}
header{
    border: 5px solid blue;
    border-radius: 15px;
    padding: 10px;
    color: burlywood;
    font-size: 20px;
}
header a {
    text-decoration: none;
    border: 2px solid darkblue;
    border-radius: 10px;
    color: white;
    background-color: darkblue;
    padding: 5px;
    margin-left: 30px;

}
main h1{
    text-align: center;
    color: darkblue;
} 
footer p{
    background-color: darkblue;
    padding: 5px;
    color: white;
    border-radius: 5px;

}
nav{
    background-color: darkblue ;
    color: white;
    padding: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
